.neonText {
    color: #fff;
    text-shadow: 
    /*white glow*/
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /*orange glow*/
    0 0 42px #ff6700,
    0 0 82px #ff6700,
    0 0 92px #ff6700,
    0 0 102px #ff6700,
    0 0 151px #ff6700;
}

body {
    background-color: #010a01;
    font-size: 18px;
    font-family: 'Goblin One', cursive;
}

h1, h2 {
    text-align: center;
    font-weight: 400;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #ff6700,
    0 0 0.8rem #ff6700,
    0 0 2.8rem #ff6700,
    inset 0 0 1.3rem #ff6700;
    animation: pulsate 0.11s
    ease-in-out infinite alternate;
    
    
    
    
}

h1 {
    font-size: 4.2rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.container {
    margin-top: 20vh;
}

@keyframes pulsate {
    100% {
        text-shadow: 
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    }

    0% {
        text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;

    }
}

section {
    padding: 110px;
    margin-left: 695px;
}